* {
    font-family: arial, sans-serif;
    margin: 0;
    font-size: 14px;
    color: #222;
}

body {
    display: block;
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* <--------- Header/Footer ---------> */
header, footer {
    position: fixed;
    width: 100%;
    line-height: 60px;
    min-width: 980px;
    vertical-align: middle;
}

header {
    background-color: #fff;
    height: 72px;
    /* box-shadow: 0 1px 6px 0 rgba(32,33,36,.28); */
}

footer {
    background: #f2f2f2;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    line-height: 45px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
}

.head-left {
    float: left;
    padding-left: 20px;
}

.head-right {
    float: right;
    padding-right: 20px;
}

/* APPS ICON */
#apps-icon {
    position: relative;
    top: 7px;
    opacity: 0.75;
}

#apps-icon:hover {
    opacity: 1;
}

/* SIGN IN BUTTON */
#signin {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    bottom: 2px;
}

#signin-btn {
    background: #4387fd;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

/* ---------------------------- UNIQUE TO SEARCH.HTML (header/footer) */
/* google logo */
img.logo-search {
    width: 90px;
    margin-top: 10px;
    padding-right: 30px;
}

/* search bar */
#searchbar2 {
    margin-top: 20px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 690px;
}

#searchbar2:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#google-search2 {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    margin-top: 5px;
    flex: 100%;
    height: 34px;
    width: 533px;
    font-size: 16px;
}

#clear-icon {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    color: #80868b;
    cursor: pointer;
}

.search-border {
    border-left: 1px solid #dfe1e5;
    height: 65%;
    margin-top: 7px;
}

#search-icon2 {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 10px;
    color: #4285f4;
}

#mic-icon2 {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 10px;
    color: #4285f4;
}

/* apps icon */
#apps-icon2 {
    position: relative;
    bottom: 47px;
    opacity: 0.75;
}

#apps-icon2:hover {
    opacity: 1;
}

/* sign in button */
#signin-btn2 {
    background: #1a73e8;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 4px;
    outline: none;
    height: 36px;
    width: 96px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    position: relative;
    bottom: 53px;
}

/* footer */
#search-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 150px;
}
/* ---------------------- END OF UNIQUE TO SEARCH.HTML (header/footer) */

/* ---------------------------- UNIQUE TO SEARCH.HTML (navigation) */
/* <----------- Navigation ------------> */
/* navigation structure */
nav {
    position: relative;
    top: 75px;
    padding-top: 15px;
    color: #5f6368;
}

.nav-left {
    float: left;
    padding-left: 150px;
}

.nav-mid {
    float: left;
    padding-left: 75px;
}

.nav-right {
    float: right;
    padding-right: 20px;
}

li {
    cursor: pointer;
}

/* navigation border */
.current {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

.nav-border {
    border-bottom: 1px solid #dfe1e5;
    margin-top: 102px;
}
/* ---------------------- END OF UNIQUE TO SEARCH.HTML (navigation) */

/* <----------- Main -----------> */
#home-main {
    text-align: center;
}

/* LOGO */
img.logo-index {
    width: 300px;
    margin-top: 175px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* SEARCHBAR */
#searchbar {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 525px;
}

#searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#google-search {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    margin-top: 5px;
    flex: 100%;
    height: 34px;
    font-size: 16px;
}

#search-icon {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    opacity: 0.5;
}

#mic-icon {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 10px;
    opacity: 0.5;
}

/* SEARCH BUTTONS */

#search-btns {
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-btn {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

.search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

/* PROMO LINK */
.promo {
    color: #1a0dab;
}

/* ----------------------------- UNIQUE TO SEARCH.HTML (main) */
#search-main {
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom: 200px;
    width: 650px;
}

#search-content {
    padding-top: 15px;
}

#result {
    padding: 15px;
    margin-bottom: 20px;
    width: 600px;
    line-height: 1.58;
    word-wrap: break-word;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}

#main-result {
    font-size: 15px;
    color: #222;
    padding-bottom: 20px;
}

.search-details .special {
    padding-left: 10px;
}

.search-link .special {
    padding-left: 10px;
}

.search-result {
    padding-top: 30px;
    width: 600px;
    line-height: 1.58;
    word-wrap: break-word;
}

.search-details {
    color: #202124;
}

.search-source {
    color: #5f6368;
}

.search-link {
    font-size: 20px;
    color: #1a0dab;
}

.website-summary {
    color: #4d5156;
}

.website-summary .special {
    color: #222;
}

/* related searches */
#related-searches {
    padding-top: 30px;
    display: block;
}

#related-title {
    font-size: 20px;
    padding-bottom: 20px;
}

.related {
    display: block;
}

.blue-link {
    color: #1a0dab;
    font-size: 16px;
}

#related-left {
    float: left;
}

#related-right {
    float: right;
}
/* ---------------------- END OF UNIQUE TO SEARCH.HTML (main) */